{% extends "base_generic.html" %}


{% block title %}
    <title>Music Library</title>
{% endblock %}


{% block content %}
    {% if user.is_authenticated %}
        <h1>MOXTOOLSITE</h1>
        <p>Welcome to MoxToolSite, a website developed by <em>EnterTheMox</em>!</p>
        <h2>Music Library</h2>
        <p>The library has the following record counts:</p>
        <ul>
            <li><strong>Available Genres:</strong> {{ viewable_genre_count }}</li>
            <li><strong>Available Artists:</strong> {{ viewable_artist_count }}</li>
            <li><strong>Available Tracks:</strong> {{ viewable_track_count }}</li>
            <li><strong>Your Tracks:</strong> {{ user_trackinstance_count }}</li>
            <li><strong>Your Playlists:</strong> {{ user_playlist_count }}</li>
            <li><strong>Your Tags:</strong> {{ user_tag_count }}</li>
        </ul>
    {% else %}
        <h1>Welcome to MoxToolSite</h1>
        <p>Please <a href="{% url 'login' %}">login</a> to use this tool.</p>
    {% endif %}
    <!-- <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p> -->
{% endblock %}