{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist Name: {{ artist.name }}</h1>
  <p><strong>Genres:</strong> {{ artist.get_genre_list }}</a></p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Tracks</h4>

    {% for track in artist.track_set.all %}
      <hr />
      <p><strong>Track:</strong> <a href="{{ track.get_absolute_url }}">{{ track.title }}</a></p>
      <p><strong>Genre:</strong> {{ track.genre }}</p>
      <p><strong>DJ Count:</strong> {{ track.trackinstance_set.count }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ track.id }}</p>
    {% endfor %}
  </div>
{% endblock %}