{% extends "base_generic.html" %}

{% block content %}
  <h1>Artist List</h1>
  {% if artist_list %}
    <ul>
      {% for artist in artist_list %}
      <li>
        <a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no artists with tracks in your library.</p>
  {% endif %}
  {% if perms.catalog.moxtool_can_create_any_artist %}
    <p><a href="{% url 'create-artist' %}">Create a new artist</a></p>
  {% elif perms.catalog.moxtool_can_create_public_artist %}
    <p><a href="{% url 'create-artist' %}">Request a new artist</a></p>
  {% endif %}
{% endblock %}