{% extends "base_generic.html" %}

{% block content %}
    {% if modify == True %}
        <h1>Modify artist: {{ artist.name }}</h1>
    {% else %}
        <h1>Create artist</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            {% if perms.catalog.moxtool_can_create_any_artist %}
                Save Artist{% if modify == True %} Change{% endif %}
            {% else %}
                Request Artist{% if modify == True %} Change{% endif %}
            {% endif %}
        </button>
    </form>
{% endblock %}