{% extends "base_generic.html" %}

{% block content %}
    {% if page_data %}
        <h1>Labels</h1>
        <hr>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:25%;">Label</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:10%;">Track Count</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;">Top Artists</th>
                </tr>
            </thead>
            <tbody>{% for label_data in page_data %}
                <tr>
                    <td data-label="Label"><a href="{{ label_data.label.get_absolute_url }}">{{ label_data.label.name }}</a></td>
                    <td data-label="Track Count">{{ label_data.track_count }}</td>
                    <td data-label="Top Artists">{% for artist in label_data.top_artists %}{% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% endfor %}</td>
                </tr>
            {% endfor %}</tbody>
        </table>
        <hr>
        <div class="pagination" style="margin-left:20px;margin-top:20px">
          <span class="step-links">
            {% if page_data.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_data.previous_page_number }}">previous</a>
            {% endif %}
        
            <span class="current">
              Page {{ page_data.number }} of {{ page_data.paginator.num_pages }}
            </span>
        
            {% if page_data.has_next %}
              <a href="?page={{ page_data.next_page_number }}">next</a>
              <a href="?page={{ page_data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
    {% else %}
        <p>There aren't any labels publicly shared on this site.</p>
    {% endif %}
    {% if perms.catalog.moxtool_can_create_any_label %}
        <div style="margin-left:20px;margin-top:20px">
            <p><a href="{% url 'bulk-create' 'label' %}">Add new labels</a></p>
        </div>
    {% elif perms.catalog.moxtool_can_create_public_label %}
        <div style="margin-left:20px;margin-top:20px">
            <p><a href="{% url 'bulk-create' 'label' %}">Request new labels</a></p>
        </div>
    {% endif %}
{% endblock %}