{% extends "base_generic.html" %}

{% block content %}
    {% if page_data %}
        <h1>Tags</h1>
        <hr>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:26%;">Tag</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:20%;">Owner</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:18%;">Track Count</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:18%;">Playlist Count</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:18%;">Setlist Count</th>
                </tr>
            </thead>
            <tbody>{% for tag_data in page_data %}
                <tr>
                    <td data-label="Tag"><a href="{{ tag_data.tag.get_absolute_url }}">{{ tag_data.tag }}</a></td>
                    <td data-label="Owner">{{ tag_data.tag.user }}</td>
                    <td data-label="Track Count" style="padding-left:40px;">{{ tag_data.trackinstances.count }}</td>
                    <td data-label="Playlist Count" style="padding-left:40px;">{{ tag_data.playlists.count }}</td>
                    <td data-label="Setlist Count" style="padding-left:40px;">{{ tag_data.setlists.count }}</td>
                </tr>
            {% endfor %}</tbody>
        </table>
        <hr>
        <div class="pagination" style="margin-left:20px;margin-top:20px">
          <span class="step-links">
            {% if page_data.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_data.previous_page_number }}">previous</a>
            {% endif %}
        
            <span class="current">
              Page {{ page_data.number }} of {{ page_data.paginator.num_pages }}
            </span>
        
            {% if page_data.has_next %}
              <a href="?page={{ page_data.next_page_number }}">next</a>
              <a href="?page={{ page_data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
    {% else %}
        <p>There aren't any tags publicly shared on this site.</p>
    {% endif %}
    {% if perms.catalog.moxtool_can_create_own_tag %}
        <div style="margin-left:20px;margin-top:20px">
            <p><a href="{% url 'create-object' 'tag' %}">Create a new tag</a></p>
        </div>
    {% endif %}
{% endblock %}