{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ track.title }}</h1>

  <p>
    <strong>Artist:</strong> 
    {% for artist in track.artist.all %}
      {% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
    {% endfor %}
  </p>
  <p><strong>Genre:</strong> {{ track.genre }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Instances</h4>

    {% for instance in track.trackinstance_set.all %}
      <hr />
      <p class="{% if instance.rating_numeric >= 9 %}text-success{% elif instance.rating_numeric <= 6 %}text-danger{% else %}text-warning{% endif %}">
        {{ instance.get_rating_display }} </p>
      {% if instance.date_added != None %}
        <p><strong>Track added:</strong> {{ instance.date_added }}</p>
      {% endif %}
      <p><strong>Playcount:</strong> {{ instance.play_count }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ instance.id }}</p>
    {% endfor %}
  </div>
{% endblock %}