{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ track.title }}</h1>

  {% if viewable_artists %}
    <p>
      <strong>Artist:</strong> 
      {% for artist in viewable_artists %}
        {% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
      {% endfor %}
    </p>
  {% else %}
    <p class="text-muted"><strong>Artist:</strong> the artist on this track is either undefined or not public</p>
  {% endif %}
  {% if viewable_genre %}
    <p><strong>Genre:</strong> {{ viewable_genre }}</p>
  {% else %}
    <p class="text-muted"><strong>Genre:</strong> the genre on this track is either undefined or not public</p>
  {% endif %}
  {% if perms.catalog.moxtool_can_modify_any_track %}
    <p><a href="{% url modify-track-admin track.id %}">Modify this track</a></p>
  {% elif perms.catalog.moxtool_can_modify_public_track %}
    <p>Request changes to this track</p>
  {% endif %}

  <div style="margin-left:20px;margin-top:20px">
    <h4>DJs with this track in their library</h4>
    {% if viewable_artists %}
      {% for trackinstance in viewable_trackinstances %}
        <hr />
        <p class="{% if trackinstance.rating_numeric >= 9 %}text-success{% elif trackinstance.rating_numeric <= 6 %}text-danger{% else %}text-warning{% endif %}">
          {{ trackinstance.get_rating_display }} </p>
        {% if trackinstance.date_added != None %}
          <p><strong>Track added:</strong> {{ trackinstance.date_added }}</p>
        {% endif %}
        <p><strong>Playcount:</strong> {{ trackinstance.play_count }}</p>
        <p class="text-muted"><strong>Id:</strong> {{ trackinstance.id }}</p>
        {% if trackinstance.user == request.user %}
          <p><a href="{{ trackinstance.get_url_to_modify_track }}">Modify this track in your library</a></p>
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="text-muted">there are no DJs with this track listed as public</p>
    {% endif %}
  </div>
{% endblock %}