{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ track.title }}</h1>
  <p>
    <strong>Mix:</strong> {{ track.mix }}</p>
  {% if viewable_artists %}
    <p>
      <strong>Artist:</strong> 
      {% for artist in viewable_artists %}
        {% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
      {% endfor %}
    </p>
  {% else %}
    <p class="text-muted"><strong>Artist:</strong> the artist on this track is either undefined or not public</p>
  {% endif %}
  {% if track.remix_artist.count >= 1 %}{% if viewable_remix_artists %}
    <p>
      <strong>Remix Artist:</strong> 
      {% for artist in viewable_remix_artists %}
        {% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
      {% endfor %}
    </p>
  {% else %}
    <p class="text-muted"><strong>Remix Artist:</strong> the remix artist on this track is not public</p>
  {% endif %}{% endif %}
  {% if viewable_genre %}
    <p><strong>Genre:</strong> {{ viewable_genre }}</p>
  {% else %}
    <p class="text-muted"><strong>Genre:</strong> the genre on this track is either undefined or not public</p>
  {% endif %}
  {% if viewable_label %}
    <p><strong>Label:</strong> {{ viewable_label }}</p>
  {% else %}
    <p class="text-muted"><strong>Label:</strong> the label on this track is either undefined or not public</p>
  {% endif %}
  <p><strong>Released:</strong> {{ track.released }}</p>
  <p><strong>Length:</strong> {{ track.length }}</p>
  <p><strong>BPM:</strong> {{ track.bpm }}</p>
  <p><strong>Key:</strong> {{ track.key }}</p>
  {% if perms.catalog.moxtool_can_modify_any_track %}
      <p><a href="{{ track.get_modify_url }}">Modify this track</a></p>
  {% elif perms.catalog.moxtool_can_modify_public_track %}
    <p><a href="{{ track.get_modify_url }}">Request changes to this track</a></p>
  {% endif %}
  {% if user_trackinstance %}
    <div style="margin-left:20px;margin-top:20px">
      <h4>Your Track Details</h4>
      {% if user_trackinstance.rating %}<p><strong>Rating:</strong> {{ user_trackinstance.rating }}</p>{% endif %}
      {% if user_trackinstance.comments %}<p><strong>Comments:</strong> {{ user_trackinstance.comments }}</p>{% endif %}
      {% if user_trackinstance.date_added %}<p><strong>Date Added:</strong> {{ user_trackinstance.date_added }}</p>{% endif %}
      {% if user_trackinstance.play_count %}<p><strong>Play Count:</strong> {{ user_trackinstance.play_count }}</p>{% endif %}
      {% if user_trackinstance.tag and user_trackinstance.tag.count > 0 %}<p>{% for tag in user_trackinstance.tag %}
        {% if not forloop.first %}, {% endif %}<a href="{{ tag.get_absolute_url }}">{{ tag }}</a>
      {% endfor %}</p>{% endif %}
      <p><a href="{{ user_trackinstance.get_modify_url }}">Modify your details</a></p>
    </div>
  {% endif %}
  {% if viewable_trackinstances %}
    <div style="margin-left:20px;margin-top:20px">
      <h4>DJs with this track in their library</h4>
      {% for trackinstance in viewable_trackinstances %}
        <hr />
        <p class="{% if trackinstance.rating_numeric >= 9 %}text-success{% elif trackinstance.rating_numeric <= 6 %}text-danger{% else %}text-warning{% endif %}">
          {{ trackinstance.get_rating_display }} </p>
        {% if trackinstance.date_added != None %}
          <p><strong>Track added:</strong> {{ trackinstance.date_added }}</p>
        {% endif %}
        <p><strong>Playcount:</strong> {{ trackinstance.play_count }}</p>
        <p class="text-muted"><strong>Id:</strong> {{ trackinstance.id }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}