{% extends "base_generic.html" %}

{% block content %}
    <h1>Favorite tracks</h1>
    {% if trackinstance_list %}
        <ul>
        {% for trackinstance in trackinstance_list %}
        <li class="{% if trackinstance.rating_numeric == 10 %}text-success{% endif %}">
            <a href="{{ trackinstance.track.get_absolute_url }}">{{ trackinstance.track.title }}</a> by 
            {% for artist in trackinstance.track.artist.all %}
                {% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist }}</a>
            {% endfor %} (Rating = {{ trackinstance.rating }}, Plays = {{ trackinstance.play_count }})
        </li>
        {% endfor %}
        </ul>
    {% else %}
      <p>You don't like any tracks enough.</p>
    {% endif %}
{% endblock %}