{% extends "base_generic.html" %}

{% block content %}
    {% if page_data %}
        <h1>{{ user }}'s tracks</h1>
        <hr>
        <table>
            <thead>
                <tr>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:25%;">Track</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;width:5%;">Time</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;">Genre</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;">Artists</th>
                    <th scope="col" style="padding-left:5px;padding-right:15px;">Remix Artists</th>
                </tr>
            </thead>
            <tbody>{% for trackinstance_data in page_data %}
                <tr>
                    <td data-label="Track"><a href="{{ trackinstance_data.trackinstance.track.get_absolute_url }}">{{ trackinstance_data.trackinstance.track.title }} ({{ trackinstance_data.trackinstance.track.mix }})</a></td>
                    <td data-label="Time">{{ trackinstance_data.trackinstance.track.length }}</td>
                    <td data-label="Genre">{% if trackinstance_data.trackinstance.track.genre is not None %}<a href="{{ trackinstance_data.trackinstance.track.genre.get_absolute_url }}">{{ trackinstance_data.trackinstance.track.genre.name }}</a>{% endif %}</td>
                    <td data-label="Artists">{% for artist in trackinstance_data.trackinstance.track.artist.all %}{% if not forloop.first %}, {% endif %}<a href="{{ artist.get_absolute_url }}">{{ artist.name }}</a>{% endfor %}</td>
                    <td data-label="Remix Artists">{% for remix_artist in trackinstance_data.trackinstance.track.remix_artist.all %}{% if not forloop.first %}, {% endif %}<a href="{{ remix_artist.get_absolute_url }}">{{ remix_artist.name }}</a>{% endfor %}</td>
                </tr>
            {% endfor %}</tbody>
        </table>
        <hr>
        <div class="pagination" style="margin-left:20px;margin-top:20px">
          <span class="step-links">
            {% if page_data.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_data.previous_page_number }}">previous</a>
            {% endif %}
        
            <span class="current">
              Page {{ page_data.number }} of {{ page_data.paginator.num_pages }}
            </span>
        
            {% if page_data.has_next %}
              <a href="?page={{ page_data.next_page_number }}">next</a>
              <a href="?page={{ page_data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div>
    {% else %}
        <p>You don't have any tracks in your library</p>
    {% endif %}
    {% if perms.catalog.moxtool_can_create_own_track %}
        <div style="margin-left:20px;margin-top:20px">
            <p><a href="{% url 'bulk-create' 'track' %}">Add new tracks</a></p>
        </div>
    {% endif %}
{% endblock %}